body{
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    .circle{
        height: 15rem;
        width: 15rem;
        background-color: rgb(157, 19, 157);
        position: absolute;
    }
    .cOne{
        border-bottom-right-radius: 100%;
        top: -1rem;
    }
    .cTwo{
        right: 0px;
        bottom: 0px;
        border-top-left-radius: 100%;
    }
}
.wraper{
    position: absolute;
    background-color: rgb(109, 110, 96);
    padding: 1rem 10px;
    margin: auto;
    left: 50%; transform: translateX(-50%);
    top: 25.5%; 
    width: 17rem;
    border-radius: 6px;
    color: white;
    max-height: 305px;
    h3{
        text-align: center;
        text-decoration: underline;
    }
    .inputBox{
        display: flex;
        justify-content: space-between;

        input{
            padding: 3px 5px;
            border: none;
            outline: none;
            font-size: 1.1rem;
            width: 10rem;
            border-bottom: 1px solid rgb(255, 255, 255);
            background-color: transparent;
            color: white;
            &::placeholder{
                color: white;
            }
        }
        button{
            background-color: purple;
            color: white;
            border: none;
            padding: 2px 10px;
            opacity: 0.5;
            &:hover{
                padding: 3px 12px;
            }

        }
        button.active{
            opacity: 1;
            cursor: pointer;
        }
    }
    .parent ol {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 150px;
    }
    .parent ol li{
        // border: 1px solid red;
        font-size: 1.4rem;
    }
    .parent ol li span{
        position: absolute;
        right: 5px;
        font-size: 1rem;
        top: 1px;
        // background-color: white;
        padding: 3px 5px;
        i{
            cursor: pointer;
        }
        .fa-trash{
            margin-left: 1rem;
            color: rgb(255, 255, 255);

        }
        .fa-pencil{
            color: green;
        }
        .fa-trash{
            &:hover{
                font-size: 1.1rem;
                
            }
        }
    }
    .parent footer {
        display: flex;
        justify-content: space-between;
    }
    .parent footer button{
        background-color: rgb(154, 71, 71);
        color: white;
        border: none;
        padding: 2px 15px;
        cursor: pointer;
        button.activeC{
            background-color: red;
        }
    }
}